<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>track-find</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1></h1>
      </div>
    </div>
  </body>
</html>
