<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>track-find</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        @if(Model!=null)
        {
        <h1>@Model.GetTrack()</h1>
        <h3>@Model.GetArtist()</h3>
        <h3>@Model.GetAlbum()</h3>
        <h3>@Model.GetGenre()</h3>
        }
      </div>
    <a href="/tracks">Check out the trax!</a>
    </div>
  </body>
</html>
