<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>track-display</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Trax View</h1>
      </div>
      <form action="/tracks/sort" method="post">
        <div class="form-row">
          <div class="col">
            <select class="form-control form-control" name="sort">
              <option value="track">Sort by track</option>
              <option value="artist">Sort by artist</option>
              <option value="album">Sort by album</option>
              <option value="genre">Sort by genre</option>
            </select>
          </div>
          <div class="col">
            <button type="submit" class="btn btn-info">Sort!</button>
          </div>
        </div>
        <br>
      </form>
        @if(Model!=null)
        {
          foreach (var track in Model)
          {
            <h3><a href="/tracks/@track.GetId()">@track.GetTrack()</a></h3><a href="/tracks/@track.GetId()/update">Edit</a>
            <hr>
          }
        }
        <hr>
        <h4><a href="/">Add more Trax to the database!</a></h4>
      </div>
    </body>
</html>
